<ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </div>

    <div class="h1 title" >About</div>
</ion-header-bar>


<ion-view title="My Profile">
	<ion-content class="has-header">
		<div style="width: 100%; height: 100%; ">
			<div style="width: 100%; height: 130px; border-bottom: 1px solid lightgray;">
				<div style="width: 100%; height: 90px;">
					<img src="img/pm.png" style="width: 80px; height: 80px; margin-left: auto; margin-right: auto; display: block; margin-top: 25px;">
				</div>
				<div style="width: 100%; height: 50px;">
					<h4 style="font-size: 14px; text-align: center;">Performance Manager 1.3.6</h4>
				</div>
			</div>

			<div style="width: 100%; height: auto;">
				<p style="padding: 40px;">
					Trusted by millions of people from all over the world, PM is the easy, free, flexible, and visual way to manage your projects and organize anything.
				</p>
			</div>

			<div style="width: 100%; height: 30px;">
				<h4 style="font-size: 14px; text-align: center;">Developed by Team PM@AUT</h4>
			</div>
		</div>
	</ion-content>
</ion-view>