<ion-header-bar align-title="center" class="bar-stable" style="background: #3b4047;">
    <div class="buttons">
        <button class="button button-icon button-light ion-ios-arrow-left" style="color:white" ng-click="$ionicGoBack()"></button>
        </button>
    </div>
    <div class="h1 title login-title" style="color:white">Add Project</div>
</ion-header-bar>

<ion-view title="Add Project" style="background:#f4f4f4;margin-top:44px;">
    <div class="list" >
    	<div style="width: 100%; height: 100%; position: relative; padding-left: 11px;">
            <!-- <div style="background: white; width: 100%; height: 100%; display: inline-block; font-size: 0; padding-left: 11px;"> -->
            	<div style="border-bottom: 1px solid lightgrey; height: 50px; width: 100%;">
            		<Div style="width: 20%;height: 100%; display: inline-block; font-size: 15px; font-weight: bold; margin-top: 10px;">Name</div>
            		<input type="text" style="width: 80%;height: 100%; display: inline-block; float: right;"></input>
            	</div>

            	<div style="border-bottom: 1px solid lightgrey;display: inline-block; width: 100%;height: 50px;">
            		<div style="width: 20%; display: inline-block; font-weight: bold;font-size: 15px;margin-top: 10px;">Client</div>
            		<input type="text" style="width: 80%; display: inline-block; height: 100%;float: right;"></input>
            	</div>

            	<div style="border-bottom: 1px solid lightgrey;display: inline-block;width: 100%;height: 50px;">
            		<div style="width: 20%; display: inline-block;font-weight: bold;font-size: 15px; margin-top: 10px;">Start</div>
            		<input type="date" style="width: 80%; display: inline-block;float: right; height: 100%;"></input>
            	</div>

            	<div style="border-bottom: 1px solid lightgrey;display: inline-block;width: 100%;height: 50px;">
            		<div style="width: 20%; display: inline-block;font-weight: bold;font-size: 15px; margin-top: 10px;">End</div>
            		<input type="date" style="width: 80%; display: inline-block;float: right; height: 100%;"></input>
            	</div>

            	<div style="border-bottom: 1px solid lightgrey;width: 100%;height: 110px;">
            		<div style="width: 20%;font-weight: bold; font-size: 14px;margin-top: 10px;">Members</div>
            		<div style="white-space: nowrap;overflow-x: scroll;margin-top: 10px;">
                      <img src="img/stevejobs.png" style="width: 40px; height: 40px; border-radius: 20px;margin-right: 6px;">
                      <img src="img/larryPage.png" style="width: 40px; height: 40px; border-radius: 20px;margin-right: 6px;">
                      <img src="img/Zuckerberg.png" style="width: 40px; height: 40px; border-radius: 20px;margin-right: 6px;">
                      <img src="img/billgate.jpg" style="width: 40px; height: 40px; border-radius: 20px;margin-right: 6px;">
                      <img src="img/add.png" style="width: 45px; height: 45px; border-radius: 20px;margin-right: 6px; ;">
            	    </div>
                </div>

            	<div style="border-bottom: 1px solid lightgrey; font-size: 15px; height: auto; width: 100%;" >
            		<div style="width: 100%; font-size: 15px; font-weight: bold; margin-top: 10px;">Description</div>
            		<textarea style="width: 100%; height: 100px; margin-top: 10px;"></textarea>
            	</div>
            <!-- </div> -->
    	</div>
    </div>
</ion-view>