<ion-header-bar align-title="center" class="bar-stable" style="background: #3b4047;">
    <div class="buttons">
        <button class="button button-icon button-light ion-ios-arrow-left" style="color:white" ng-click="$ionicGoBack()"></button>
        </button>
    </div>
    <div class="h1 title login-title" style="color:white">Add Project</div>
</ion-header-bar>

<ion-view title="Add Project" style="background:#f4f4f4;margin-top:44px;">
    <div class="list" >
    	<div style=";background: lightgrey; width: 100%; height: 100%; position: relative;">
        <div style="background: white; width: 100%; height: 100%; display: inline-block; font-size: 0; padding-left: 15px;">
        	<div style="border-bottom: 1px solid lightgrey; height: 50px">
        		<label style="width: 20%;height: 100%; display: inline-block; font-size: 15px; font-weight: bold;vertical-align:middle;">Name</label>
        		<input type="text" style="width: 80%;height: 100%; display: inline-block;"></input>
        	</div>

        	<div style="border-bottom: 1px solid lightgrey;display: inline-block; width: 100%;height: 100%;">
        		<label style="width: 20%; display: inline-block; font-weight: bold;font-size: 15px;vertical-align: center;">Client</label>
        		<input type="text" style="width: 80%; display: inline-block;"></input>
        	</div>

        	<div style="border-bottom: 1px solid lightgrey;display: inline-block;width: 100%;height: 50px;">
        		<label style="width: 20%; display: inline-block;font-weight: bold;font-size: 15px;">Start Date</label>
        		<input type="date" style="width: 80%; display: inline-block;"></input>
        	</div>

        	<div style="border-bottom: 1px solid lightgrey;display: inline-block;width: 100%;height: 50px;">
        		<label style="width: 20%; display: inline-block;font-weight: bold;font-size: 15px;">End Date</label>
        		<input type="date" style="width: 80%; display: inline-block;"></input>
        	</div>

        	<div style="border-bottom: 1px solid lightgrey;width: 100%;height: 100%;">
        		<label style="width: 20%;font-weight: bold; font-size: 15px;">Members</label>
        		<div style="white-space: nowrap;overflow-x: scroll;">
              <img src="img/stevejobs.png" style="width: 40px; height: 40px; border-radius: 20px;margin-right: 6px;">
              <img src="img/larryPage.png" style="width: 40px; height: 40px; border-radius: 20px;margin-right: 6px;">
              <img src="img/Zuckerberg.png" style="width: 40px; height: 40px; border-radius: 20px;margin-right: 6px;">
              <img src="img/billgate.jpg" style="width: 40px; height: 40px; border-radius: 20px;margin-right: 6px;">
              <img src="img/add.png" style="width: 45px; height: 45px; border-radius: 20px;margin-right: 6px; ;">
        	</div>


        	<div style="border-bottom: 1px solid lightgrey; font-size: 0; height: 100%; width: 100%;" >
        		<label style="width: 100%; font-size: 15px; font-weight: bold;">Description</label>
        		<textarea style="width: 100%; height: 88px;"></textarea>
        	</div>
        </div>
    	</div>
    </div>
</ion-view>