<ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon button-clear ion-ios-arrow-back" ui-sref="myProfile"></button>
    </div>

    <div class="h1 title" >My Coachee</div>
    <div class="buttons">
        <button class="button button-icon button-clear ion-edit" ui-sref="selectCoachee"></button>
    </div>
</ion-header-bar>

<ion-view>
	<ion-content class="has-header" style="background: #f2f3f4;">
        <div class="list">
            <a class="item item-avatar" href="#" ng-repeat="(key, item) in coacheeArr">
                <img ng-src={{item.imageUrl}}>
                <h2>{{item.name}}</h2>
                <p>{{item.email}}</p>
            </a>
        </div>
	</ion-content>
</ion-view>