<ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon button-clear ion-ios-arrow-back" ui-sref="myProfile"></button>
    </div>

    <div class="h1 title" >My Coachee</div>
    <div class="buttons">
        <button class="button button-icon button-clear ion-edit" ui-sref="selectCoachee"></button>
    </div>
</ion-header-bar>


<ion-view>
	<ion-content class="has-header" style="background: #f2f3f4;">
        <ul class="list">
		    <li class="item">
		     
		    </li>
		</ul>
	</ion-content>
</ion-view>