<ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="$ionicGoBack()"></button>
    </div>

    <div class="h1 title login-title" >Diaries</div>
    <div class="buttons">
        <button class="button button-icon button-clear ion-plus" ui-sref="tab.addDiarie"></button>
    </div>
</ion-header-bar>

<ion-view>
	<ion-content>

		<div class="list card">
		  <div class="item item-avatar">
		    <img src="img/billgate.jpg">		    
		    <h2>Marty McFly</h2>
		    <p>November 05, 1955</p>
		  </div>
		  <div class="item item-body">		    
		    <p>
		      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
		      the content is from a card-body consisting of an image and paragraph text. The footer
		      consists of tabs, icons aligned left, within the card-footer.
		    </p>		    
		  </div>
		</div>

		<div class="list card">
		  <div class="item item-avatar">
		    <img src="img/billgate.jpg">		    
		    <h2>Marty McFly</h2>
		    <p>November 05, 1955</p>
		  </div>
		  <div class="item item-body">		    
		    <p>
		      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
		      the content is from a card-body consisting of an image and paragraph text. The footer
		      consists of tabs, icons aligned left, within the card-footer.
		    </p>		    
		  </div>
		</div>

		<div class="list card">
		  <div class="item item-avatar">
		    <img src="img/billgate.jpg">		    
		    <h2>Marty McFly</h2>
		    <p>November 05, 1955</p>
		  </div>
		  <div class="item item-body">		    
		    <p>
		      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
		      the content is from a card-body consisting of an image and paragraph text. The footer
		      consists of tabs, icons aligned left, within the card-footer.
		    </p>		    
		  </div>
		</div>



	</ion-content>
</ion-view>