<ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon button-clear ion-chevron-left" ></button>
    </div>

    <div class="h1 title" >Name</div>
    <div class="buttons">
        <button class="button button-icon button-clear ion-checkmark"></button>
    </div>
</ion-header-bar>


<ion-view title="Edit Profile Name">
	<ion-content class="has-header">
		<div style="width:100%; height:100%; background: red;">
			
		</div>	
	</ion-content>
</ion-view>