<ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="$ionicGoBack()"></button>
    </div>

    <div class="h1 title" >Select Coach</div>
    <div class="buttons">
        <button class="button button-icon button-clear ion-checkmark" ng-click="saveCoach()"></button>
    </div>
</ion-header-bar>


<ion-view>
	<ion-content class="has-header" style="background: #f2f3f4;">
        <div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="search">
          </label>
          <button class="button button-postive">
            Cancel
          </button>
        </div>
        <div ng-repeat='item in users | filter:{name:search}'>
          <ion-list >
            <ion-radio>{{item.name}}</ion-radio>
          </ion-list>
        </div>
		<!-- <div style="width:100%; height:45px; background: white; margin-top: 15px;">
			<input ng-model="user.coach" type="text" style="font-size: 15px; margin-left: 15px; ">
		</div>	 -->
	</ion-content>
</ion-view>