<ion-view title="Feedback Detail" id="feedbackDetail">

	<ion-nav-back-button class="button-clear">
    <i class="ion-ios-arrow-back"></i>
  	</ion-nav-back-button>

	<ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-edit" ng-click=""></button>
 	 </ion-nav-buttons>

  <ion-content>
    
  	<div class="list" >
  		<div style=";background: lightgrey; width: 100%; height: 100%; position: relative;">
  			<div style="width: 100%; height: 70px; background: #3b4047; ">
          <img src="img/back.png" style="position: absolute; width: 35px; height: 35px; top: 15px; left: 10px;">
          <img src="img/edit.png" style="position: absolute; width: 35px; height: 35px; top: 15px; right: 15px;">
  			   
        </div>

        <div style="width: 100%; height: 100%; border-bottom: 1px solid lightgrey; background: white;padding-left: 11px; ">
            <h4>Project</h4>
            <p>Deloitte Performance Management</p>
          </div>
        

        <div style="width: 100%; height: 100%; background: white; border-top: 1px solid lightgrey; padding-left: 11px; ">
          <div style="width: 100%; height: 100%; border-bottom: 1px solid lightgrey;">
            
          <div style="width: 100%; height: 100%; border-bottom: 1px solid lightgrey;">
            <h4>Members</h4>
            <div style="white-space: nowrap;overflow-x: scroll;">
              <img src="img/stevejobs.png" style="width: 40px; height: 40px; border-radius: 20px;margin-right: 6px;">
              <img src="img/larryPage.png" style="width: 40px; height: 40px; border-radius: 20px;margin-right: 6px;">
              <img src="img/Zuckerberg.png" style="width: 40px; height: 40px; border-radius: 20px;margin-right: 6px;">
              <img src="img/billgate.jpg" style="width: 40px; height: 40px; border-radius: 20px;margin-right: 6px;">

              

            </div>
            
          </div>

          <h4>Feedback Detail</h4>
            <p >This article is about mechanistic circular causality. For performance feedback, see performance appraisal. For educational feedback, see corrective feedback. For other uses, see Feedback (disambiguation).

Feedback exists between two parts when each affects the other.[1](p53)

A feedback loop where all outputs of a process are available as causal inputs to that process
Feedback occurs when outputs of a system are routed back as inputs as part of a chain of cause-and-effect that forms a circuit or loop.</p>
          </div>
          

          <div style="width: 100%; height: 100%; border-bottom: 1px solid lightgrey; position: relative; top: 12px;">
           <!--  <h4 style="display: inline-block; position: relative;">Type</h4> -->
            <img src="img/good.png" style="width: 50px; height: 50px;">
          </div>

        </div>

  		</div>
  	</div>
  </ion-content>
</ion-view>