<ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </div>

    <div class="h1 title login-title" >Feedback</div>
</ion-header-bar>

<ion-view title="Feedback">
	<ion-content class="has-header" style="background:#f4f4f4;">
	    <div class="list" style="position:relative;">
	    	<div style="width: 100%; padding: 7px; background:#f4f4f4; position: relative; border-bottom:1px solid #f9f9f9;" ui-sref="tab.feedbackDetail({id: 2})">
	    		<div style="width: 100%; height:100%; background: white; border-radius: 8px; border: 1px solid lightgrey; position: relative;margin-bottom: 10px;">
	    			<div style="width: 100%; height: 80px; border-bottom: 1px solid #f0f0f5;">
	    				<img src="img/billgate.jpg" style="width: 50px; height: 50px; position: absolute; left: 20px; top: 20px; border-radius: 30px;">
	    				<h2 style="position: absolute; left: 100px; font-size: 15px; font-weight: bold;">Performance Management</h2>
	    				<p style="position:absolute; left: 100px; top: 50px; ">12/01/2017</p>

	    				<img src="img/good.png" style="position:absolute;left: 60px;top: 50px;width: 20px;height: 20px;">
	    			</div>

	    			<div style="padding: 15px;">
	    				<p style="font-size: 15px;margin:0;line-height: 22px;word-wrap: normal;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;">William Henry "Bill" Gates III (born October 28, 1955) is an American business magnate, entrepreneur, investor, author, and philanthropist.[2][3] In 1975, Gates and Paul Allen co-founded Microsoft, which became the world's largest PC software company.William Henry "Bill" Gates III (born October 28, 1955) is an American business magnate, entrepreneur, investor, author, and philanthropist.[2][3] In 1975, Gates and Paul Allen co-founded Microsoft, which became the world's largest PC software company. </p>
	    			</div>
	    		</div>

	    		

	    		


	    		




	    	</div>
	    </div>
	</ion-content>
</ion-view>