<ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </div>

    <div class="h1 title" >My Profile</div>
</ion-header-bar>

<ion-view title="My Profile">
	<ion-content class="has-header">
		<div style="width: 100%; height: 100%; padding-left: 11px; position: relative;">
			<div style="width: 100%; height: 160px; border-bottom: 1px solid lightgray;position: relative;" >
				<img src="img/billgate.jpg" style="width: 130px;
				    height: 130px;
				    display: block;
				    margin-left: auto;
				    margin-right: auto;
				    border-radius: 80px;
				    margin-top: 25px;
				    margin-bottom: 15px;
				    position: relative;" ng-click="show()" id="profileImg">
			</div>

			<div style="height: 50px; width: 100%; border-bottom: 1px solid lightgray;position: relative;" ui-sref="editProfileName">
				<div style="width:30%; height: 100%; float: left;">
					<h3 style="margin-top: 15px; font-size: 15px; font-weight: bold;">Name</h3>
				</div>
				<div style="width: 70%; height:100%; float: right; ">
					<p ng-model="name" id="xinmingzi" style="font-size: 15px; margin-top: 15px; text-align: right; margin-right: 35px;">{{user.name}}</p>
					<img src="img/right.png" style="width: 20px; height: 20px; position: absolute; right: 10px; top: 15px;">
				</div>
			</div>


			<div style="height: 50px; width: 100%; border-bottom: 1px solid lightgray;position: relative;">
				<div style="width:30%; height: 100%; float: left;">
					<h3 style="margin-top: 15px; font-size: 15px; font-weight: bold;">Email</h3>
				</div>
				<div style="width: 70%; height:100%; float: right; ">
					<p style="font-size: 15px; margin-top: 15px; text-align: right; margin-right: 11px;">{{user.email}}</p>
				</div>
			</div>


			<div style="height: 50px; width: 100%; border-bottom: 1px solid lightgray;position: relative;">
				<div style="width:30%; height: 100%; float: left;">
					<h3 style="margin-top: 15px; font-size: 15px; font-weight: bold;">Coach</h3>
				</div>
				<div style="width: 70%; height:100%; float: right"; ui-sref="editProfileCoach">
					<p style="font-size: 15px; margin-top: 15px; text-align: right; margin-right: 35px;">{{user.coach}}</p>
					<img src="img/right.png" style="width: 20px; height: 20px; position: absolute; right: 10px; top: 15px;">
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>