<ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </div>

    <div class="h1 title login-title" >Notifications</div>
</ion-header-bar>

<ion-view>
	<ion-content>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="getNotificationList()"  spinner="lines">
		</ion-refresher>
		<ion-list>
			<a class="item item-avatar" href="#" ng-repeat="item in msgList" ng-click="dealMsg(item)">
		      <img ng-src={{item.imageUrl}}>
		      <h2>{{item.name}}</h2>
		      <p>{{item.email}}</p>
		      <span style="position:absolute;right:10px;top:5px;font-size:10px;color:lightgray;">{{item.type}}</span>
		    </a>
		</ion-list>
	</ion-content>
</ion-view>