<ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </div>

    <div class="h1 title login-title" >Notifications</div>
</ion-header-bar>

<ion-view>
	<ion-content>
		<div style="width:100%; height:100%;">
			<div class="list">
				<a class="item item-avatar" href="#">
			      <img src="img/Zuckerberg.png">
			      <h2>Venkman</h2>
			      <p>Back off, man. I'm a scientist.</p>
			    </a>
			    <a class="item item-avatar" href="#">
			      <img src="img/stevejobs.png">
			      <h2>Venkman</h2>
			      <p>Back off, man. I'm a scientist.</p>
			    </a>
			    <a class="item item-avatar" href="#">
			      <img src="img/larypage.png">
			      <h2>Venkman</h2>
			      <p>Back off, man. I'm a scientist.</p>
			    </a>


















				<!-- <div style="width:15%; height: 100%; float: left;">
					<img src="img/Zuckerberg.png" style=" width: 40px; height: 40px; margin-top: 7px;">
				</div>
				<div style="width: 85%; height:100%; float: right; ">
					<h4 style="font-size: 14px; font-weight: bold; position: absolute; top: 0px;">Zuckerberg</h4>
					<p style="font-size: 14px; width: 70%; position: absolute; position: absolute; top: 30px; text-overflow:ellipsis;white-space: nowrap;overflow: hidden">I would like to add you as coach test test test test</p>
					<p style="position: absolute; right: 5px; top: 5px; font-size: 3px;">10:19pm</p>
				</div> -->

			</div>

			

			


			
		</div>
	</ion-content>
</ion-view>