<ion-view title="Project Name" id="projectDetail">

	<ion-nav-back-button class="button-clear">
    <i class="ion-ios-arrow-back"></i>
  </ion-nav-back-button>

	<ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-edit" ng-click=""></button>
  </ion-nav-buttons>

  <ion-content>
  	<div class="list" >
  		<div style=";background: lightgrey; width: 100%; height: 100%; position: relative;">
  			<div style="width: 100%; height: 200px; background: #3b4047; ">
  			   <p style="text-align: center;"><img src="img/Project.png" style="position: relative; width: 120px; height: 120px; top: 40px; border-radius: 60px;"></p>
        </div>


        <div style="width: 100%; height: 65px; border-bottom: 1px solid lightgrey; background: white; margin-bottom: 25px;">
          <div style="width: 50%; height: 100%; border-right: 1px solid lightgrey;display:inline-block;">
            <h4 style="position: relative; text-align: center;">Start Date</h4>
            <p style="text-align: center;">19/08/2016</p>
          </div>

          <div style="width: 49%;display:inline-block; ">
            <h4 style="position: relative; text-align: center;">End Date</h4>
            <p style="text-align: center;">19/08/2016</p>
          </div>
        </div>

        <div style="width: 100%; height: 100%; background: white; border-top: 1px solid lightgrey;">
          <div style="width: 100%; height: 100%; border-bottom: 1px solid lightgrey;">
            
          <div style="width: 100%; height: 100%; border-bottom: 1px solid lightgrey;">
            <h4>Members</h4>
            <div>
              <img src="img/stevejobs.png" style="width: 40px; height: 40px; border-radius: 20px;">
              <img src="img/larryPage.png" style="width: 40px; height: 40px; border-radius: 20px;">
              <img src="img/Zuckerberg.png" style="width: 40px; height: 40px; border-radius: 20px;">
              <img src="img/billgate.jpg" style="width: 40px; height: 40px; border-radius: 20px;">
            </div>
            
          </div>

          <h4>Description</h4>
            <p >The sponsor would like to develop an app that can be used to track feedback conversation throught the year from yourself as well as view your coaches conversation.</p>
          </div>
          <div style="width: 100%; height: 100%; border-bottom: 1px solid lightgrey;">
            <h4>Client</h4>
            <p>pppppppppppppppppppppppppppppppppppppppp</p>
          </div>

          <div style="width: 100%; height: 100%; border-bottom: 1px solid lightgrey;">
            <h4 style="display: inline-block; position: relative;">Feedback</h4>
            <img src="img/right.png" style="width: 20px; height: 20px;position: absolute; right: 10px; top: 2px;">
          </div>

        </div>

  		</div>
  	</div>
  </ion-content>
</ion-view>