<!-- <ion-view title="Project" id="page3">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-add"></button>
  </ion-nav-buttons>


  <ion-content padding="true" class="has-header" style="background:#f4f4f4;">

    <div class="list" style="position: relative;">
      <div style="height: 100%; width: 100%; padding: 5px; position: relative; margin-bottom: 10px; background: white;">
        <div style="background: white; width: 100%; height: 100%; border-radius: 8px;">
        <img src="img/project.png" style="position: absolute; top:15px; left:10px;width:46px;height:46px; border-radius: 15px;">
        <h2 style="left:65px; margin:0px; top:15px; text-overflow: ellipsis; position:absolute; font-size: 18px; width:50%; white-space: nowrap; overflow: hidden; font-weight:bold;">Project one</h2>
        
        <p style="left: 65px; position: absolute; top:38px;width:80%;line-height: 19x;word-wrap: normal;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;">Description about this project,Description about this project,Description about this project, Description about this project,Description about this project, Description about this project,Description about this project, Description about this project,Description about this project</p>
        <img src="img/member.jpg" style="position: absolute; left: 65px; width: 15px; height: 15px; top: 100px;">
        <p style="position: absolute; left: 86px; top: 97px; font-size: 15px;">6</p>
        </div>
      </div>



    </div>

  </ion-content>
</ion-view> -->




<ion-view title="Project" id="page3">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-add"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header" style="background:#f4f4f4;">

    <div class="list" style="position: relative;">
      <div style="padding: 5px; position: relative;background: white; width: 100%; height: 100%; border-radius: 8px;margin-bottom: 10px;">
        <img src="img/project.png" style="position: absolute; top:15px; left:10px;width:46px;height:46px; border-radius: 15px;">
        <h2 style="left:65px;margin-left: 60px;margin-top: 5px;text-overflow: ellipsis;font-size: 18px;width:50%;white-space: nowrap;overflow: hidden;font-weight:bold;margin-bottom: 0;">Project one</h2>
        <p style="word-wrap: normal;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;margin-top: 5px;margin-left: 59px;margin-bottom: 3px;">
          Description about this project,Description about this project,Description about this project, Description about this project,Description about this project, Description about this project,Description about this project, Description about this project,Description about this project
        </p>
        <div style="margin-left: 59px;margin-top: 8px;vertical-align: initial;">
          <img src="img/member.jpg" style="width: 16px;height: 16px;vertical-align: text-bottom;">
          <span style="font-size: 17px;font-weight: bold;">&nbsp;9</span>
        </div>
      </div>
      <div style="padding: 5px; position: relative;background: white; width: 100%; height: 100%; border-radius: 8px;margin-bottom: 10px;">
        <img src="img/project.png" style="position: absolute; top:15px; left:10px;width:46px;height:46px; border-radius: 15px;">
        <h2 style="left:65px;margin-left: 60px;margin-top: 5px;text-overflow: ellipsis;font-size: 18px;width:50%;white-space: nowrap;overflow: hidden;font-weight:bold;margin-bottom: 0;">Project one</h2>
        <p style="word-wrap: normal;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;margin-top: 5px;margin-left: 59px;margin-bottom: 3px;">
          Description about this project,Description about this project,Description about this project
        </p>
        <div style="margin-left: 59px;margin-top: 8px;vertical-align: initial;">
          <img src="img/member.jpg" style="width: 16px;height: 16px;vertical-align: text-bottom;">
          <span style="font-size: 17px;font-weight: bold;">&nbsp;9</span>
        </div>
      </div>
      <div style="padding: 5px; position: relative;background: white; width: 100%; height: 100%; border-radius: 8px;margin-bottom: 10px;">
        <img src="img/project.png" style="position: absolute; top:15px; left:10px;width:46px;height:46px; border-radius: 15px;">
        <h2 style="left:65px;margin-left: 60px;margin-top: 5px;text-overflow: ellipsis;font-size: 18px;width:50%;white-space: nowrap;overflow: hidden;font-weight:bold;margin-bottom: 0;">Project one</h2>
        <p style="word-wrap: normal;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;margin-top: 5px;margin-left: 59px;margin-bottom: 3px;">
          Description about this project,Description about this 
        </p>
        <div style="margin-left: 59px;margin-top: 8px;vertical-align: initial;">
          <img src="img/member.jpg" style="width: 16px;height: 16px;vertical-align: text-bottom;">
          <span style="font-size: 17px;font-weight: bold;">&nbsp;9</span>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>