<ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </div>
    <div class="h1 title login-title" >Project</div>
    <div class="buttons">
        <button class="button button-icon button-clear ion-plus" ui-sref="tab.addProject"></button>
    </div>
</ion-header-bar>

<ion-view title="Project">
  <ion-content padding="true" class="has-header" style="background:#f4f4f4;">
    <div class="list" >
      <a class="item item-thumbnail-left" href="#" ui-sref="tab.projectDetail({id: 1})">
      <img src="img/LarryPage.png">
      <h2>Korero Porject</h2>
      <p>Here is the project detail sample text sample text sample text sample text sample text sample text</p>
      </a>

      <a class="item item-thumbnail-left" href="#" ui-sref="tab.projectDetail({id: 1})">
      <img src="img/stevejobs.png">
      <h2>Performance Management</h2>
      <p>Here is the project detail</p>
      </a>

      <a class="item item-thumbnail-left" href="#" ui-sref="tab.projectDetail({id: 1})">
      <img src="img/billgate.jpg">
      <h2>AUT Final Year Project</h2>
      <p>Here is the project detail</p>
      </a>


      


      

      <!-- <div style="padding: 5px; position: relative;background: white; width: 100%; height: 100%; border-radius: 8px;margin-bottom: 10px;" ui-sref="tab.projectDetail({id: 1})">
        <img src="img/project.png" style="position: absolute; top:15px; left:10px;width:46px;height:46px; border-radius: 15px;">
        <h2 style="left:65px;margin-left: 60px;margin-top: 5px;text-overflow: ellipsis;font-size: 18px;width:50%;white-space: nowrap;overflow: hidden;font-weight:bold;margin-bottom: 0;">Project one</h2>
        <p style="word-wrap: normal;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;margin-top: 5px;margin-left: 59px;margin-bottom: 3px;">
          Description about this project,Description about this project,Description about this project, Description about this project,Description about this project, Description about this project,Description about this project, Description about this project,Description about this project
        </p>
        
      </div> -->
      
    </div>
  </ion-content>
</ion-view>