<ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </div>
    <div class="h1 title login-title" >Project</div>
    <div class="buttons">
        <button class="button button-icon button-clear ion-plus" ui-sref="tab.addProject({id: 0})"></button>
    </div>
</ion-header-bar>

<ion-view title="Project">
  <ion-content padding="true" class="has-header" style="background:#f4f4f4;">
    <div class="card" ng-repeat="(key, item) in projectList">
      <div class="list" >
      <a class="item item-thumbnail-left" ng-click= "goToProject(key)">
      <img src="img/LarryPage.png">
      <h2>Title:&nbsp;{{item.name}}</h2>
      <p>{{item.description}}</p>
      </a>
      </div>
    </div>
  </ion-content>
</ion-view>