<ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="$ionicGoBack()"></button>
    </div>
    <div class="h1 title login-title" >Project Detail</div>
    <div class="buttons">
        <button class="button button-icon button-clear ion-edit" ui-sref="tab.addProject({id: displayProject.id})"></button>
    </div>
</ion-header-bar>


<ion-view title="Project Name" >
  <ion-content class="has-header">
  	<div class="list" style="margin:0;padding:0">
  		<div style=";background: lightgrey; width: 100%; height: 100%; position: relative;">
  			<div style="width: 100%; height: 200px; background: #3b4047; ">
          <!-- <img src="img/back.png" style="position: absolute; width: 35px; height: 35px; top: 15px; left: 10px;" ng-click="$ionicGoBack()"> -->
          <!-- <img src="img/edit.png" ui-sref="tab.addProject({id: displayProject.id})" style="position: absolute; width: 35px; height: 35px; top: 15px; right: 15px;"> -->
  			  <p style="text-align: center;"><img src="img/pm.png" style="position: relative; width: 120px; height: 120px; top: 40px; border-radius: 60px;"></p>
        </div>

        <div style="width: 100%; height: 100%; background: white; border-top: 1px solid lightgrey; padding-left: 11px; ">
          <div style="width: 100%; height: 100%; border-bottom: 1px solid lightgrey;">
            <h4>Name</h4>
            <p >{{displayProject.name}}</p>
          </div>
          <div style="width: 100%; height: 100%; border-bottom: 1px solid lightgrey;">
            <h4>Client</h4>
            <p>{{displayProject.client}}</p>
          </div>
          <div style="width: 100%; height: 100%; border-bottom: 1px solid lightgrey;">
            <h4>Start Date</h4>
            <p>{{displayProject.startDate}}</p>
          </div>
          <div style="width: 100%; height: 100%; border-bottom: 1px solid lightgrey;">
            <h4>Goal</h4>
            <p>{{displayProject.goal}}</p>
          </div>
          <div style="width: 100%; height: 100%; border-bottom: 1px solid lightgrey;">
            <h4>Description</h4>
            <p >{{displayProject.description}}</p>
          </div>

          <div style="width: 100%; height: 100%; border-bottom: 1px solid lightgrey; position: relative; top: 12px;" ui-sref="tab.diaries">
            <h4 style="display: inline-block; position: relative;">Diaries</h4>
            <img src="img/right.png" style="width: 20px; height: 20px;position: absolute; right: 10px; top: 2px;">
          </div>

        </div>

  		</div>
  	</div>
  </ion-content>
</ion-view>