<head>
  <style>
    .dm-tips{
      width:200px;
      height: 44px;
      background-color: white;
    }
  </style>>
</head>

<ion-view title="SignUp" hide-nav-bar="true" cache-view="false" nav-transition="none" id="page7" style="background-color:#0079BF;">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <form id="signUp-form3" class="list center-form">
      <div>
        <img src="img/DeloitteLogo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list id="signUp-list4">
        <label class="item item-input" id="signUp-input6">
          <span class="input-label">Name</span>
          <input type="text" ng-model="user.name" placeholder="">
        </label>
        <label class="item item-input" id="signUp-input8">
          <span class="input-label">Email</span>
          <input type="text" ng-model="user.email" placeholder="">
        </label>
        <label class="item item-input" id="signUp-input7">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.psw" placeholder="" required>
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ng-click="signUp()" id="signUp-button4" class="button button-stable  button-block">Sign Up</a>
      <a ui-sref="login" id="signUp-button5" style="color:#FFFFFF;" class="button button-positive  button-block button-clear">Already have an account?</a>
    </form>
  </ion-content>
</ion-view>